header{
  background-color: $color-red;
    .header{
        @include Flexbox();
        padding: 2rem;
        nav{
            ul{
                display: flex;
                column-gap: 20px;
            }
        }
    }
}